body {
  position: relative;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

h1,
button {
  letter-spacing: 0.06em;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  outline: transparent;
}

h1, h2, h3, p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .nav, .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav, .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}

.company__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
}

.company__logo--black {
  color: #000;
}

.company__logo--white {
  color: #fff;
}

.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.title {
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 36px;
  color: #212121;
}

.title--small {
  font-size: 14px;
  color: #212121;
}

.title--medium {
  font-size: 16px;
  color: #212121;
  margin-bottom: 10px;
}

.hero {
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.hero__title {
  margin-top: 0px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.button {
  padding: 10px 32px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
}

.block {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  padding: 25px 0px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.team {
  background-color: #f5f4fa;
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

.team__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.team__text {
  margin-bottom: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__icon {
  fill: #afb1b8;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item {
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--time-function);
  transition: border-color 250ms var(--time-function);
}

.clients__item:hover, .clients__item:focus {
  border-color: #2196f3;
}

.clients__item:hover .clients__icon,
.clients__item:focus .clients__icon {
  fill: #2196f3;
}

.clients__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms var(--time-function);
  transition: fill 250ms var(--time-function);
}

.footer {
  background-color: #2f303a;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  padding: 60px 0px;
}

.company__logo--footer {
  margin-bottom: 20px;
}

.address {
  font-style: normal;
}

.address__mail, .address__tel {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.footer__title--small {
  font-weight: 700;
  color: #fff;
}

.footer__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function);
}

.footer__list-item:hover, .footer__list-item:focus {
  background-color: #2196f3;
}

.footer__icon {
  fill: #fff;
}

.footer__type {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

/* MEDIA QUERIES*/
@media screen and (min-width: 480px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__button {
    z-index: 1;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    -webkit-transition: color 250ms var(--time-function);
    transition: color 250ms var(--time-function);
  }
  .header__button:hover {
    fill: #2196f3;
  }
  .header__button .header__button--cross {
    display: none;
  }
  .header__button.is-open .header__button--cross {
    display: block;
  }
  .header__button.is-open .header__button--burger {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu.is-open {
    position: absolute;
    width: 100vw;
    height: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #fff;
  }
  .thumb {
    margin-left: 40px;
    font-weight: 500;
  }
  .thumb__item {
    margin-bottom: 32px;
  }
  .thumb__item--notm {
    margin-bottom: 0px;
  }
  .thumb__link {
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
  }
  .thumb__link--current {
    color: #2196f3;
  }
  .thumb__link--tel {
    font-size: 34px;
    color: #2196f3;
  }
  .thumb__link--mail {
    font-size: 24px;
    color: #757575;
  }
  .thumb__socials {
    padding: 0px 10px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196f3;
  }
  .thumb__socials--border {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

@media screen and (min-width: 480px) {
  .hero__container {
    padding: 118px 0px;
  }
  .hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1.62;
  }
  .button {
    margin: 0px 140px;
  }
}

@media screen and (min-width: 480px) {
  .backdrop {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    -webkit-transition: visibility 250ms var(--time-function), opacity 250ms var(--time-function);
    transition: visibility 250ms var(--time-function), opacity 250ms var(--time-function);
    overflow-y: scroll;
  }
  .backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .modal {
    min-width: 528px;
    min-height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #fff;
  }
  .modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px;
    background-color: transparent;
    -webkit-transition-property: border;
    transition-property: border;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: var(--time-function);
            transition-timing-function: var(--time-function);
  }
  .modal__close:hover .modal__icon,
  .modal__close:hover .modal__icon {
    fill: #2196f3;
  }
  .form {
    min-width: 528px;
    min-height: 581px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px;
  }
  .form__name {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: #212121;
  }
  .form__label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--txt-clor);
    margin-right: auto;
    margin-bottom: 4px;
  }
  .form__block {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
  }
  .form__icon {
    position: absolute;
    left: 12px;
    top: 11px;
    bottom: 11px;
    -webkit-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: var(--time-function);
            transition-timing-function: var(--time-function);
  }
  .form__block:focus .form__icon,
  .form__block:hover .form__icon {
    fill: #2196f3;
  }
  .form__input {
    width: 100%;
    height: 40px;
    padding: 0;
    padding-left: 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    -webkit-transition-property: border;
    transition-property: border;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: var(--time-function);
            transition-timing-function: var(--time-function);
  }
  .form__message {
    max-width: 448px;
    max-height: 120px;
    min-width: 448px;
    min-height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
    -webkit-transition-property: border;
    transition-property: border;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: var(--time-function);
            transition-timing-function: var(--time-function);
  }
  .form__input:focus, .form__message:focus, .form__input:hover, .form__message:hover {
    border-color: #2196f3;
  }
  .form__message::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: rgba(117, 117, 117, 0.5);
  }
  .form__message:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: rgba(117, 117, 117, 0.5);
  }
  .form__message::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: rgba(117, 117, 117, 0.5);
  }
  .form__message::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: rgba(117, 117, 117, 0.5);
  }
  .form__button {
    width: 200px;
    height: 50px;
    padding: 0;
    margin: 0;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: #2196f3;
    color: #fff;
    -webkit-transition: background 250ms var(--time-function);
    transition: background 250ms var(--time-function);
  }
  .form__button:hover, .form__button:focus {
    background-color: rgba(33, 150, 243, 0.9);
  }
  .agreement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .agreement__checkbox {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/checkicon.svg);
    cursor: pointer;
  }
  .agreement__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin-left: 8px;
    color: var(--txt-clor);
  }
  .agreement__link {
    color: #2196f3;
  }
  input[type='checkbox']:checked + .agreement__checkbox {
    border-color: #2196f3;
    background-color: #2196f3;
  }
}

@media screen and (min-width: 480px) {
  .feature__container {
    padding: 60px 0px;
  }
  .feature__item {
    margin-bottom: 30px;
  }
  .block {
    width: 100%;
  }
  .title--small {
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 767px) {
  .samples {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .team__container {
    padding: 60px 0px;
  }
  .team__title {
    margin-bottom: 30px;
  }
  .team__item {
    margin-bottom: 30px;
    width: 100%;
  }
  .team__overlay {
    padding-bottom: 24px;
  }
  .social {
    margin: -10px;
  }
  .social__linkbox {
    margin: 10px;
    -ms-flex-preferred-size: calc((100% - 4 * 20) / 4);
        flex-basis: calc((100% - 4 * 20) / 4);
  }
}

@media screen and (min-width: 480px) {
  .clients__container {
    padding: 60px 0px;
  }
  .clients__title {
    margin-bottom: 30px;
  }
  .clients__list {
    margin: -15px;
  }
  .clients__item {
    margin: 15px;
    padding: 16px 52px;
    width: calc((100% - 4 * 15) / 2);
  }
}

@media screen and (min-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .address__place {
    margin-bottom: 8px;
  }
  .address__mail {
    margin-bottom: 8px;
  }
  .address__tel {
    margin-bottom: 60px;
  }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -10px;
  }
  .footer__list-item {
    margin: 10px;
    -ms-flex-preferred-size: calc((100% - 4 * 10) / 4);
        flex-basis: calc((100% - 4 * 10) / 4);
    margin-bottom: 60px;
  }
  .footer__title--small {
    margin-bottom: 20px;
  }
  .footer__type {
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=main.css.map */