:root {
  --w-clor: #ffffff;
  --bg-clor1: #f5f4fa;
  --bg-clor2: #2f303a;
  --accent-clor: #2196f3;
  --title-clor: #212121;
  --txt-clor: #757575;
  --b-clor: #000000;
  --grey: #afb1b8;
  --hovr-clor: rgba(33, 150, 243, 0.9);
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --bg-clor3: rgba(0, 0, 0, 0.2);
}

body {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

h1,
button {
  letter-spacing: 0.06em;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

input {
  outline: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 70px;
}

.container__mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 93px;
}

.container__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--txt-clor);
}

.title {
  margin-bottom: 50px;
  color: var(--title-clor);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: inline-block;
  margin-right: 93px;
  font-size: 26px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.header__logo--black {
  color: #000;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.nav__item {
  position: relative;
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__link {
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__link--current {
  color: #2196f3;
}

.nav__link--current::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

/* contacts */
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__mail, .contacts__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 30px;
  color: #757575;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.contacts__tel {
  margin-right: 0;
}

.contacts__mail:hover, .contacts__tel:hover, .contacts__mail:focus, .contacts__tel:focus {
  color: #2196f3;
}

.contacts__icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.contacts__mail:hover .contacts__icon,
.contacts__tel:hover .contacts__icon,
.contacts__mail:focus .contacts__icon,
.contacts__tel:focus .contacts__icon {
  fill: #2196f3;
}

.hero {
  padding: 200px 0;
  text-align: center;
  background-color: var(--bg-clor2);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--w-clor);
  font-family: Roboto, sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  padding: 10px 32px 10px 32px;
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  background-color: var(--accent-clor);
  color: var(--w-clor);
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: visibility 250ms var(--time-function), opacity 250ms var(--time-function);
  transition: visibility 250ms var(--time-function), opacity 250ms var(--time-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  min-width: 528px;
  min-height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--w-clor);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  background-color: transparent;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.modal__close:hover .modal__icon,
.modal__close:hover .modal__icon {
  fill: var(--accent-clor);
}

.form {
  min-width: 528px;
  min-height: 581px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

.form__name {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-clor);
}

.form__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--txt-clor);
  margin-right: auto;
  margin-bottom: 4px;
}

.form__block {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 11px;
  bottom: 11px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.form__block:focus .form__icon,
.form__block:hover .form__icon {
  fill: var(--accent-clor);
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.form__message {
  max-width: 448px;
  max-height: 120px;
  min-width: 448px;
  min-height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.form__input:focus, .form__message:focus, .form__input:hover, .form__message:hover {
  border-color: var(--accent-clor);
}

.form__message::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: rgba(117, 117, 117, 0.5);
}

.form__message:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: rgba(117, 117, 117, 0.5);
}

.form__message::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: rgba(117, 117, 117, 0.5);
}

.form__message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: rgba(117, 117, 117, 0.5);
}

.form__button {
  width: 200px;
  height: 50px;
  padding: 0;
  margin: 0;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-clor);
  color: var(--w-clor);
  -webkit-transition: background 250ms var(--time-function);
  transition: background 250ms var(--time-function);
}

.form__button:hover, .form__button:focus {
  background-color: var(--accent-hover);
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.agreement__checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-clor);
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/checkicon.svg);
  cursor: pointer;
}

.agreement__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-left: 8px;
  color: var(--txt-clor);
}

.agreement__link {
  color: var(--accent-clor);
}

input[type='checkbox']:checked + .agreement__checkbox {
  border-color: var(--accent-clor);
  background-color: var(--accent-clor);
}

.feature {
  padding-top: 94px;
}

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.feature__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.feature__block:last-child {
  margin-right: 0;
}

.feature__block:last-child {
  margin-right: 0;
}

.feature__item {
  margin-right: 30px;
  width: 270px;
}

.feature__item:last-child {
  margin-right: 0px;
}

.block__title {
  margin-bottom: 10px;
  text-decoration: none;
  color: var(--title-clor);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.block__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--txt-clor);
}

.samples {
  padding-top: 94px;
  padding-bottom: 94px;
}

.samples__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
}

.samples__item {
  position: relative;
  margin-right: 30px;
}

.samples__item:last-child {
  margin-right: 0px;
}

.samples__text {
  position: absolute;
  bottom: 0%;
  padding: 27px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--w-clor);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  font-size: 36px;
  line-height: 1.19;
  text-align: center;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
}

.team__item {
  margin-right: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 6px 6px;
}

.team__item:last-child {
  margin-right: 0;
}

.team__overlay {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.team__title--small {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__text {
  text-align: center;
  background-color: #ffffff;
  margin-bottom: 16px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

.social__linkbox {
  margin-right: 10px;
}

.social__linkbox:last-child {
  margin-right: 0;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--w-clor);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-clor);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--w-clor);
}

.social__icon {
  fill: var(---grey);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__item {
  margin-right: 30px;
}

.clients__item:last-child {
  margin-right: 0;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--grey);
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.clients__item:hover,
.clients__item:focus {
  border: 1px solid var(--accent-clor);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-clor);
}

.clients__icon {
  fill: var(--grey);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  color: #ffffff;
  background-color: var(--bg-clor2);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-clor);
  text-decoration: none;
  margin-bottom: 20px;
  color: var(--w-clor);
}

.footer__logo--blue {
  color: var(--accent-clor);
}

.footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.footer__list-item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.footer__list-item:last-child {
  margin-right: 0;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.footer__icon {
  fill: var(--w-clor);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.footer__link:hover, .footer__link:focus {
  background-color: var(--accent-clor);
}

.footer__link:hover .footer__icon,
.footer__link:focus .footer__icon {
  fill: var(--w-clor);
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__type {
  cursor: pointer;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.footer__type::-webkit-input-placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  letter-spacing: 0.03em;
}

.footer__type:-ms-input-placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  letter-spacing: 0.03em;
}

.footer__type::-ms-input-placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  letter-spacing: 0.03em;
}

.footer__type::placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  letter-spacing: 0.03em;
}

.footer__button {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--w-clor);
  background-color: var(--accent-clor);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button__icon {
  margin-right: 28px;
  margin-left: 10px;
}

.button__icon:hover {
  background-color: violet;
}

.address__place, .address__mail, .address__tel {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding: 0px;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.address__place {
  color: var(--w-clor);
}

.address__tel {
  margin-bottom: 0;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btnlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
}

.btnlist__item {
  margin-right: 8px;
}

.btnlist__item:last-child {
  margin-right: 0px;
}

.btnlist__button {
  border: 0px;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-clor);
  background-color: #f5f4fa;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
}

.btnlist__button:hover, .btnlist__button:focus {
  background-color: var(--accent-clor);
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin: 0;
}

.works__item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.works__item:nth-child(3n + 3) {
  margin-right: 0px;
}

.works__item:nth-child(n + 7) {
  margin-bottom: 0px;
}

.works__link {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--time-function);
          transition-timing-function: var(--time-function);
  border-bottom: 1px solid #eeeeee;
}

.works__thumb {
  width: 370px;
  font-size: 18px;
  line-height: 2;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.works__name {
  margin: 0;
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-clor);
}

.works__descr {
  margin: 0;
  font-size: 16px;
  line-height: 1.87;
  color: var(--txt-clor);
}

.works__link:hover .works__text,
.works__link:focus .works__text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.works__link:hover, .works__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works__box {
  position: relative;
  overflow: hidden;
}

.works__text {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--w-clor);
  background-color: var(--hovr-clor);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--time-function);
  transition: -webkit-transform 250ms var(--time-function);
  transition: transform 250ms var(--time-function);
  transition: transform 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
}
/*# sourceMappingURL=main.css.map */