@media screen and (max-width: 767px) {
.clients__container {
    padding: 60px 0px;
}
.clients__title {
    margin-bottom: 30px;
}
.clients__list {
    margin: -15px;
}
.clients__item {
    margin: 15px;
    padding: 16px 52px;
    width: calc((100% - 4 * 15) / 2) ;
}
}