@include mq(mobile-only) {


    .feature__item {
        margin-bottom: 30px;
    }

    .block {
        width: 100%;
    }

    .title--small {
        color         : getcl('title');
        margin-bottom : 10px;
        text-align    : center;
        text-transform: uppercase;
    }
}