.block {
    display         : $fx;
    justify-content : center;
    margin-bottom   : 30px;
    padding         : 25px 0px;
    height          : 120px;
    border-radius   : $radius;
    background-color: getcl('bg_1');
}

.title--small {
    font-weight    : $b;
    font-size      : getf('S');
    letter-spacing : $ls;
    line-height    : 1.17;
    text-align     : center;
    text-decoration: none;
    text-transform : uppercase;
    margin-bottom  : 10px;

    color: getcl('title');
}

.block__text {
    font-size     : getf('S');
    line-height   : 1.71;
    letter-spacing: $ls;
    color         : getcl('txt');
}

// ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ FEATURES UTILS ↑↑↑↑↑↑↑↑↑↑↑↑↑
// ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑
// –––––––––––––––––––––––––––––––––––––––––––
// –––––––––––––––––––––––––––––––––––––––––––
// ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓
// ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ FEATURES RULES ↓↓↓↓↓↓↓↓↓↓↓↓

@include mq(mobile-only) {
    .feature__item {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .block {
        max-width: 100%;
    }
}

@include mq(tablet-only) {
    .feature__list {
        display  : $fx;
        flex-wrap: wrap;
        margin   : -15px;
    }

    .feature__item {
        width     : 354px;
        margin    : 15px;
        flex-basis: calc((100% - 4 * 15) / 2);
    }
}

@include mq(desktop) {
    .feature__list {
        display: $fx;
        margin : -15px;
    }

    .feature__item {
        margin    : 15px;
        flex-basis: calc((100% - 2 * 8) / 4);
    }

    .block {
        align-items     : center;
        margin-bottom   : 30px;
        background-color: #f5f4fa;
    }
}