@media screen and (max-width: 767px) {
.feature__container {
padding: 60px 0px ;
}
.feature__item {
    margin-bottom: 30px;
}
.block {
    width: 100%;
}
.title--small {
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}
}