@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
  }

  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .address__place {
    margin-bottom: 8px;
  }
  .address__mail {
    margin-bottom: 8px;
  }
  .address__tel {
    margin-bottom: 60px;
  }
  .footer__list {
    display: flex;
    justify-content: center;
    margin: -10px;
  }
  .footer__list-item {
    margin: 10px;
    flex-basis: calc((100% - 4 * 10) / 4);
    margin-bottom: 60px;
  }
  .footer__title--small {
    margin-bottom: 20px;
  }

  .footer__type {
    margin-bottom: 20px;
  }
}
