@media screen and (max-width: 767px) {
    
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;

}
.header__button {
    z-index: 1;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    transition: color 250ms $cubic;

    &:hover {
        fill: getcl('acnt');
    }

    & &--cross {
        display: none;
    }
    &.is-open &--cross {
        display: block;
    }
    &.is-open &--burger {
        display: none;
    }
    }
.menu {
    display: none;

    &.is-open {
        position: absolute;
        width: 100vw;
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: $shadow;
        padding-top: 48px;
        padding-bottom: 48px;
        background-color: getcl('w');

    }
}
.thumb {
    margin-left: 40px;
    font-weight: 500;
}
.thumb__item {
    margin-bottom: 32px;

    &--notm {
        margin-bottom: 0px;
    }
}

.thumb__link {
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: getcl('title');
    
    &--current {
        color: getcl('acnt');
    }
    &--tel {
        font-size: 34px;
        color: getcl('acnt');
    }
    &--mail {
        font-size: getf('logo-tel');
        color: getcl('txt');
    }
}
.thumb__socials {

padding: 0px 10px;
font-family: $mainFont;
font-size  : 18px;
line-height: 1.22;
letter-spacing: 0.02em;
text-decoration: none;
color: getcl('acnt');

    &--border {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}
}