@include mq(mobile-only) {


  .header__container {
    display        : $fx;
    align-items    : center;
    justify-content: space-between;
    padding-top    : 10px;
    padding-bottom : 10px;
  }

  .header__button {
    z-index         : 1;
    width           : 40px;
    height          : 40px;
    padding         : 0;
    margin          : 0;
    border          : none;
    background-color: transparent;
    transition      : color $cubic;

    &:hover {
      fill: getcl('acnt');
    }

    & &--cross {
      display: none;
    }

    &.is-open &--cross {
      display: block;
    }

    &.is-open &--burger {
      display: none;
    }
  }

  .thumb {
    margin-left: 40px;
    font-weight: 500;

    &__item {
      margin-bottom: 32px;

      &--last {
        margin-bottom: 0px;
      }
    }

    &__link {

      font-size      : 40px;
      line-height    : 1.17;
      letter-spacing : 0.02em;
      text-decoration: none;
      color          : getcl('title');

      &--current {
        color: getcl('acnt');
      }

      &--tel {
        font-size: getf('m_L');
        color    : getcl('acnt');
      }

      &--mail {
        font-size: getf('l_S');
        color    : getcl('txt');
      }
    }

    &__socials {

      padding       : 0px 10px;
      font-family   : $mainFont;
      font-size     : getf('m_S');
      line-height   : 1.22;
      letter-spacing: 0.02em;
      color         : getcl('acnt');

      &--border {
        border-right: 1px solid rgb(33, 33, 33 / 0.2);
      }
    }
  }

  .menu {
    display: none;

    &.is-open {
      position        : absolute;
      z-index         : 1;
      width           : 100vw;
      height          : 100vh;
      display         : $fx;
      flex-direction  : column;
      justify-content : space-between;
      box-shadow      : $shadow;
      padding         : 48px 0;
      background-color: getcl('w');
    }
  }
}