// –––––––––––––––––––––––––––––––––––––––––––
// –––––––––––––––––––––––––––––––––––––––––––
// ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓
// ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ SAMPLES RULES ↓↓↓↓↓↓↓↓↓↓↓↓
@include mq(notDesktop) {
  .samples {
    display: none;
  }
}

@include mq(desktop) {
  .samples__items {
    display: flex;
    margin : 0 auto;
  }

  .samples__item {
    position    : relative;
    margin-right: 30px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .samples__text {
    position        : absolute;
    justify-content : center;
    display         : flex;
    width           : 100%;
    bottom          : 0%;
    margin          : 0;
    padding         : 27px 0px;
    font-weight     : $b;
    letter-spacing  : $ls;
    line-height     : 1.14;
    text-align      : center;
    text-transform  : uppercase;
    font-size       : getf('S');
    color           : getcl('w');
    background-color: rgba(47, 48, 58, 0.8);

  }

  .samples__container {
    margin-left : auto;
    margin-right: auto;
    padding     : 60px 15px;

    @media screen and (min-width: 480px) {
      width: 480px;
    }

    @media screen and (min-width: 768px) {
      width: 768px;
    }

    @media screen and (min-width: 1200px) {
      width  : 1200px;
      padding: 0 15px 94px 15px;
    }
  }
}