.team {
    background-color: getcl('bg_1');
    padding         : 0;
}

.team__title.title {
    display      : block;
    margin-bottom: 30px;
}

.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius   : 0px 0px 4px 4px;
    background-color: getcl('w');
}

.team__overlay {
    padding-top: 30px;

    @include mq(notDesktop) {
        padding-bottom: 24px;
    }

    @include mq(desktop) {
        padding-bottom: 30px;
    }
}

.team__text {
    margin-bottom: getf('M');
    line-height  : 1.17;

}

.social {
    display: flex;
    margin : -10px;

    &__icon {
        fill: getcl('gr');
    }

    &__linkbox {
        margin    : 10px;
        flex-basis: calc((100% - 4 * 20) / 4);
    }
}

// ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ TEAM UTILS ↑↑↑↑↑↑↑↑↑↑↑↑↑
// ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑
// –––––––––––––––––––––––––––––––––––––––––––
// –––––––––––––––––––––––––––––––––––––––––––
// ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓
// ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ TEAM RULES ↓↓↓↓↓↓↓↓↓↓↓↓

@include mq(mobile-only) {

    .team__item {
        width        : 100%;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }


    }

}

@include mq(tablet-only) {

    .team__list {
        display  : flex;
        flex-wrap: wrap;
        margin   : -15px;
    }

    .team__item {
        width     : 354px;
        margin    : 15px;
        flex-basis: calc((100% - 4 * 15) / 2);
    }

    .social {
        display: flex;
        margin : -10px;

        &__linkbox {
            padding-bottom: 24px;
            margin        : 10px;
            flex-basis    : calc((100% - 8 * 5) / 4);
        }
    }
}

@include mq(desktop) {
    .team__title {
        font-size  : getf('L');
        line-height: 1.19;
        text-align : center;

        &--small {
            margin-bottom : 10px;
            font-weight   : 500;
            font-size     : getf('M');
            letter-spacing: $ls;
            color         : getcl('title');
        }
    }

    .team__list {
        display        : flex;
        justify-content: center;
        margin         : 0 auto;
    }

    .team__item {
        width       : 270;
        margin-right: 30px;
        box-shadow  : 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 6px 6px;

        &:last-child {
            margin-right: 0;
        }
    }


    .team__overlay {
        padding         : 30px 32px;
        background-color: getcl('w');
    }

    .title--medium {
        font-size     : getf('M');
        line-height   : 1.17;
        letter-spacing: $ls;
        font-weight   : 500;
        text-align    : center;
        color         : getcl('title');
    }

    .team__text {
        text-align      : center;
        background-color: getcl('w');
        margin-bottom   : 16px;
    }

    .social {
        display: $fx;

        &__linkbox {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }

        &__link {
            position        : relative;
            width           : 44px;
            height          : 44px;
            border-radius   : 50%;
            background-color: getcl('w');

            transition: background-color $cubic;

            &:hover,
            &:focus {
                background-color: getcl('acnt');
            }

            &:hover &__icon,
            &:focus &__icon {
                fill: getcl('w');
            }


        }


    }

    .social__icon {
        position  : absolute;
        top       : 50%;
        left      : 50%;
        transform : translate(-50%, -50%);
        fill      : getcl('gr');
        transition: fill $cubic;
    }
}