@media screen and (min-width:768px) {
    .clients {
        padding: 60px 0px;
    }

    .clients__title {
        margin-bottom: 30px;
    }

    .clients__list {
        display: flex;
        margin : -15px;
    }

    .clients__item {

        width     : 226px;
        margin    : 15px;
        flex-basis: calc((100% - 6 * 15) / 3);
    }

    .clients__icon {
        margin: 16px 60px;
    }
}