@media screen and (min-width: 768px) {

    .team__list {
        display  : flex;
        flex-wrap: wrap;
        margin   : -15px;
    }

    .team__item {
        width     : 354px;
        margin    : 15px;
        flex-basis: calc((100% - 4 * 15) / 2);
    }

    .social.team__social {
        display: flex;
        margin : -10px;
    }

    .social__linkbox {
        padding-bottom: 24px;
        margin        : 10px;
        ;
        flex-basis: calc((100% - 8 * 5) / 4);
    }
}