/* 
--w-clor: #ffffff;
  --bg-color-section-two: #f5f4fa;
  --bg-clor2: #2f303a;
  --accent-clor: #2196f3;
  --title-clor: #212121;
  --txt-clor: #757575;
  --b-clor: #000000;
  ---grey: #afb1b8;
  --hovr-clor: rgba(33, 150, 243, 0.9);
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --bg-clor3: rgba(0, 0, 0, 0.2);
*/

 

/* style normalize */

/* outside block/templates */



/* Header Left Side(Logo) */

/* site NavigatiOn */


/* hero */

/* modal */


/* features */
/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* examples */


/* SECTION TEAM */


/* clients */

/*exactly the footer*/
/* !!! */
/* !!! */


/*  portfolio#btn */

