@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .company__logo {
    margin-right: 88px;
  }
  .contacts {
    flex-direction: column;
    margin-left: auto;
    padding: 21px 0px;
  }
  .contacts__mail {
    margin-bottom: 10px;
  }
}
