.hero {
    background-color   : getcl('bg_2');
    background-repeat  : no-repeat;
    background-size     : cover;
    background-position: 50% 50%;
    max-width          : 480px;
    margin-left        : auto;
    margin-right       : auto;
    background-image   : linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);
    &__container {
        padding-top: 118px;
        padding-bottom: 118px;
    }
    &__title {
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 30px;
        margin        : 0px;
        color         : getcl('w');
        font-family   : Roboto, sans-serif;
        font-weight   : 900;
        text-align    : center;
        font-size     : 26px;
        line-height   : 1.61;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
}

.button {
    padding: 10px 32px;
    border            : 0px;
    margin-left       : auto;
    margin-right      : auto;
    align-items       : center;
    text-align        : center;
    cursor            : pointer;
    background-color  : getcl('acnt');
    color             : getcl('w');
    font-size         : 16px;
    line-height       : 1.87;

    display           : block;
    letter-spacing    : 0.06em;
    box-shadow        : 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius     : 4px;
}