@media screen and (min-width: 768px) {
  .hero__container {
    padding: 118px 204px;
  }
  .hero__title {
    width: 360px;
    margin-bottom: 30px;
  }
  .button {
    margin-left: 80px;
    margin-right: 80px;
  }
}
