
.team__container {
    padding: 60px 0px;
}
.team__title {
    margin-bottom: 30px;
}
.team__item {
    margin-bottom: 30px;
    width: 100%;
}
.team__overlay {
    padding-bottom: 24px;
}
.social {
    margin: -10px;
     
    &__linkbox {
     margin    : 10px;
     flex-basis: calc((100% - 4 * 20) / 4);
    }
}