.team {
    background-color: getcl('bg_1');
    padding-top     : 60px;
    padding-bottom  : 60px;

    &__title {
        margin-top: 0px;
        font-size  : 28px;
        line-height: 1.19;
        text-align: center;

    }

    &__list {
        display        : block;
        margin-right   : auto;
        margin-left    : auto;
    }

    &__item {
        margin-top: 30px;
        box-shadow  : 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 6px 6px;
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__overlay {
        padding-top     : 30px;
        padding-bottom  : 30px;
        background-color: #ffffff;
    }

    &__title--small {
        margin-bottom : 10px;
        font-weight   : 500;
        font-size     : 16px;
        line-height   : 1.19;
        text-align    : center;
        letter-spacing: $ls;
        color         : getcl('title');
    }

    &__text {
        text-align: center;
        margin-top: 0;
        margin-bottom   : 16px;
        font-size: 16px;
        letter-spacing: $ls;
        color: getcl('txt');
        background-color: getcl('w');
    }
}

.social {
    display        : flex;
    justify-content: center;
    padding-left   : 0;

    &__linkbox {
        margin-right: 10px;
    }
    &__linkbox:last-child {
        margin-right: 0;
    }

    &__link {
        display         : flex;
        align-items     : center;
        justify-content : center;
        width           : 44px;
        height          : 44px;
        border-radius   : 50%;
        background-color: getcl('w');

        transition-property       : background-color;
        transition-duration       : 250ms;
        transition-timing-function: $cubic;
    }

    &__link:hover,
    &__link:focus {
        background-color: getcl('acnt');
    }

    &__link:hover .social__icon,
    &__link:focus .social__icon {
        fill: getcl('w');
    }

    &__icon {
        fill                      : getcl('gr');
        transition-property       : fill;
        transition-duration       : 250ms;
        transition-timing-function: $cubic;
    }
}