@media screen and (min-width: 768px) {

    .team__title {
        margin-bottom: 30px;
    }

    .team__list {
        display: flex;
        margin : -15px;
    }

    .team__item {
        width        : 354px;
        margin       : 15px;
        flex-basis   : calc((100% - 4 * 15) / 2);
        margin-right : 30px;
        margin-bottom: 30px;
    }

    .social__linkbox {
        display      : flex;
        margin       : -10px;
        margin-bottom: 24px;
    }

    .social__link {
        margin: 10px;
        width : calc((100% - 8 * 10) / 4);
    }

}