.backdrop {
    width           : 100vw;
    height          : 100vh;
    top             : 0;
    left            : 50%;
    transform       : translateX(-50%);
    position        : fixed;
    z-index         : 1;
    background-color: rgba(0, 0, 0, 0.2);
    opacity         : 1;
    transition      : visibility 250ms $cubic, opacity 250ms $cubic;
}

.backdrop.is-hidden {
    visibility    : hidden;
    opacity       : 0;
    pointer-events: none;
}

.modal {
    min-width : 528px;
    min-height: 581px;
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius   : 4px;
    background-color: getcl('w');

}
.modal__close {
    position: absolute;
    top     : 8px;
    right   : 8px;
    width   : 32px;
    height  : 32px;

    display         : flex;
    align-items     : center;
    justify-content : center;
    border-radius   : 50%;
    border          : 1px solid rgba(0, 0, 0, 0.1);
    padding         : 0px;
    background-color: transparent;

    transition-property       : border;
    transition-duration       : 250ms;
    transition-timing-function: $cubic;
    
    &:hover .modal__icon,
    &:hover .modal__icon {
        fill: getcl('acnt');
    }
}


.form {
    min-width      : 528px;
    min-height     : 581px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    padding        : 40px;
}
.form__name {
    margin-bottom: 12px;
    font-weight  : 700;
    font-size    : 20px;
    line-height  : 1.15;
    text-align   : center;
    color        : getcl('title');
}

.form__label {
    font-size     : 12px;
    line-height   : 1.17;
    letter-spacing: 0.01em;
    color         : getcl('gr');
    margin-right  : auto;

    margin-bottom: 4px;
}

.form__block {
    position     : relative;
    width        : 100%;
    margin-bottom: 12px;

    &:focus .form__icon,
    &:hover .form__icon {
    fill: getcl('acnt');
    }
}

.form__icon {
    position: absolute;
    left    : 12px;
    top     : 11px;
    bottom  : 11px;

    transition-property       : fill;
    transition-duration       : 250ms;
    transition-timing-function: $cubic;
}



.form__input {
    width        : 100%;
    height       : 40px;
    padding      : 0;
    padding-left : 42px;
    border-radius: 4px;
    border       : 1px solid rgba(33, 33, 33, 0.2);

    transition-property       : border;
    transition-duration       : 250ms;
    transition-timing-function: $cubic;
    &:hover,
    &:focus {
    border-color: getcl('acnt');
}
}

.form__message {
    max-width    : 448px;
    max-height   : 120px;
    min-width    : 448px;
    min-height   : 120px;
    padding      : 12px 16px;
    margin-bottom: 20px;
    border-radius: 4px;
    border       : 1px solid rgba(33, 33, 33, 0.2);
    resize       : none;

    transition-property       : border;
    transition-duration       : 250ms;
    transition-timing-function: $cubic;

    &:hover,
    &:focus {
    border-color: getcl('acnt');
    }
    
    &::placeholder {
        font-size     : 12px;
        line-height   : 1.17;
        letter-spacing: 0.01em;
        margin-bottom : 4px;
        color         : rgba(117, 117, 117, 0.5);
    }
}



.form__button {
width : 200px;
height: 50px;

padding      : 0;
margin       : 0;
border       : 0px;
border-radius: 4px;
cursor       : pointer;

display        : flex;
justify-content: center;
align-items    : center;

font-size     : 16px;
font-weight   : 700;
line-height   : 1.87;
letter-spacing: 0.06em;
box-shadow    : 0px 4px 4px rgba(0, 0, 0, 0.15);

background-color: getcl('acnt');
color           : getcl('w');
transition      : background 250ms $cubic;

&:hover,
&:focus {
background-color: var(--accent-hover);
}
}


.agreement {
    display      : flex;
    align-items  : center;
    margin-bottom: 30px;
    &__checkbox {
        width              : 16px;
        height             : 15px;
        border             : 2px solid getcl('title');
        border-radius      : 3px;
        background-repeat  : no-repeat;
        background-position: center;
        background-image   : url(../images/checkicon.svg);
    
        cursor: pointer;
    }
&__text {
    font-weight: 400;
    font-size  : 14px;
    line-height: 1.71;
    margin-left: 8px;
    color      : getcl('gr');
}

&__link {
    color: getcl('acnt');
}
}


input[type='checkbox']:checked+.agreement__checkbox {
    border-color    : getcl('acnt');
    background-color: getcl('acnt');
}


