.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btnlist {
    display        : flex;
    justify-content: center;
    margin-bottom  : 50px;
    margin-right   : auto;
    margin-left    : auto;
    padding-left   : 0px;
    
  }
  .btnlist__item {
      margin-right: 8px;
      
      &:last-child {
          margin-right: 0px;
      }   
  }
  
  .btnlist__button {
    border: 0px;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-clor);
    background-color: #f5f4fa;
  
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--time-function);
    
    &:hover,
    &:focus {
      background-color: var(--accent-clor);
      color: #ffffff;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
.works {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin: 0;
  
  
}
.works__item {
  margin-right: 30px;
  margin-bottom: 30px;
  
  &:nth-child(3n + 3) {
    margin-right: 0px;
  }
  &:nth-child(n + 7) {
    margin-bottom: 0px;
  }
}

.works__link {
  cursor: pointer;
  text-decoration: none;
  
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
  border-bottom: 1px solid #eeeeee;
  
  &:hover .works__text,
  &:focus .works__text {
    transform: translateY(0%);
  }
  
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.works__thumb {
  width        : 370px;
  font-size    : 18px;
  line-height  : 2;
 padding      : 20px 24px;
 border-bottom: 1px solid #eeeeee;
 border-left  : 1px solid #eeeeee;
 border-right : 1px solid #eeeeee;
}

.works__name {
 margin        : 0;
 padding-bottom: 4px;
 font-weight   : 700;
 font-size     : 17px;
 line-height   : 2;
 letter-spacing: 0.06em;
 color         : var(--title-clor);
}

.works__descr {
 margin     : 0;
 font-size  : 16px;
 line-height: 1.87;
 color      : var(--txt-clor);

}

.works__box {
  position: relative;
  overflow: hidden;
}
.works__text {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0%;

  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--w-clor);
  background-color: var(--hovr-clor);

  transform: translateY(+100%);
  transition: transform 250ms var(--time-function);
}