body {
  position: relative;
  font-family: $mainFont;
  font-size: getf('small');
  letter-spacing: $ls;
  color: getcl('txt')
}
h1,
button {
  letter-spacing: 0.06em;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;

}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input {
  outline: transparent;
}

h1, h2, h3, p {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

 .container {
   margin-left : auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
 @media screen and (min-width: 480px) and (max-width: 767px) {
      width: 480px;
    }
  @media screen and (min-width: 768px) {
      width: 768px;
  }
  @media screen and (min-width: 1200px) {
      width: 1200px;
  }
  }

  .nav, .contacts {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width:768px) {
      display: flex;
      
    }
  }

.text {
  font-size     : getf('small');
  line-height   : 1.71;
  letter-spacing: $ls;
  color         : getcl('txt');
}

.title {
  line-height : 1.17;
  text-align  : center;
  letter-spacing: $ls;
  font-weight : $b;
  font-size     : getf('large');
  color : getcl('title');

    &--small {
      font-size: getf('small');
      color: getcl('title');
    }
}
.hero__title {
margin-top: 0px;
font-weight: 900;
text-align : center;
letter-spacing: $ls2;
text-transform: uppercase;

color: getcl('w');
}
.button {
  padding         : 10px 32px;
  width           : 200px;
  height          : 50px;
  border-radius   : $radius;
  box-shadow      : $shadowbtn;
  border          : none;
  font-weight     : $b;
  line-height     : $btnLH;
  letter-spacing  : $ls2;
  color           : getcl('w');
  background-color: getcl('acnt');
}

.block {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  height: 120px;
  padding: 25px 0px;
  border-radius: $radius;
  background-color: getcl('bg_1');
}