body {
  position: relative;
  font-family: $mainFont;
  font-size: getf('small');
  letter-spacing: $ls;
  color: getcl('txt')
}
h1,
button {
  letter-spacing: 0.06em;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;

}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input {
  outline: transparent;
}

h1, h2, h3, p {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

 .container {
   margin-left : auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
 @media screen and (min-width: 480px) and (max-width: 767px) {
      width: 480px;
    }
  @media screen and (min-width: 768px) {
      width: 768px;
  }
  @media screen and (min-width: 1200px) {
      width: 1200px;
  }
  }

  .nav, .contacts {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width:768px) {
      display: flex;
      
    }
  }

.text {
  font-size     : getf('small');
  line-height   : 1.71;
  letter-spacing: $ls;
  color         : getcl('txt');
}

.title {
  line-height : 1.17;
  text-align  : center;
  letter-spacing: $ls;
  font-weight : $b;
  font-size     : getf('large');
  color : getcl('title');

    &--small {
      font-size: getf('small');
      color: getcl('title');
    }
    &--medium {
      font-size: getf('medium');
      color: getcl('title');
      margin-bottom: 10px;
    }
}
.hero__title {
margin-top: 0px;
font-weight: 900;
text-align : center;
letter-spacing: $ls2;
text-transform: uppercase;

color: getcl('w');
}
.button {
  padding         : 10px 32px;
  width           : 200px;
  height          : 50px;
  border-radius   : $radius;
  box-shadow      : $shadowbtn;
  border          : none;
  font-weight     : $b;
  line-height     : $btnLH;
  letter-spacing  : $ls2;
  color           : getcl('w');
  background-color: getcl('acnt');
}

.block {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  height: 120px;
  padding: 25px 0px;
  border-radius: $radius;
  background-color: getcl('bg_1');
}
.team {
  background-color: getcl('bg_1');
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
              0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: getcl('w');
}
.team__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.team__text {
  margin-bottom: getf('medium');
  line-height: 1.17;
  letter-spacing: $ls;

}
.social {
  display: flex;

  &__icon {
    fill: getcl('gr');
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
}
.clients__item {
  height: 92px;
  border: $border;
  border-radius: $radius;
  transition: border-color 250ms $cubic;
    &:hover, 
    &:focus {
    border-color: getcl('acnt')
    }
    &:hover .clients__icon, 
    &:focus .clients__icon {
    fill: getcl('acnt');
    }
}
.clients__icon {
  fill: getcl('gr');
  transition: fill 250ms $cubic;
}

