body {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: getcl('txt')
}
h1,
button {
  letter-spacing: 0.06em;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;

}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input {
  outline: transparent;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width        : 1200px;
  margin-left  : auto;
  margin-right : auto;
  padding-left : 15px;
  padding-right: 15px;
}

.container__left {
  display       : flex;
  flex-direction: column;
  margin-right  : 70px;
}

.container__mid {
  display       : flex;
  flex-direction: column;
  margin-right  : 93px;
}

.container__right {
  display       : flex;
  flex-direction: column;
}

.text {
  font-size     : 14px;
  line-height   : 1.71;
  letter-spacing: 0.03em;
  color         : var(--txt-clor);
}

.title {
  margin-bottom : 50px;
  color         : var(--title-clor);
  font-weight   : 700;
  font-size     : 36px;
  line-height   : 1.17;
  text-align    : center;
  letter-spacing: 0.03em;
}