  %mail {
      display       : flex;
      align-items   : center;
      padding       : 32px 0;
      color         : getcl('txt');
      font-weight   : 500;
      line-height   : 1.14;
      letter-spacing: 0.02em;

      transition: color $cubic;

      &:hover,
      &:focus {
          color: getcl('acnt');
      }

      &:hover .contacts__icon,
      &:focus .contacts__icon {
          fill: getcl('acnt');
      }
  }

  %tel {
      padding       : 32px 0;
      margin-right  : 0;
      font-weight   : 500;
      line-height   : 1.14;
      letter-spacing: 0.02em;
      transition    : color $cubic;

      &:hover,
      &:focus {
          color: getcl('acnt');
      }

      &:hover .contacts__icon,
      &:focus .contacts__icon {
          fill: getcl('acnt');
      }
  }

  %logo {
      font-family   : $logoFont, sans-serif;
      font-weight   : $b;
      line-height   : 1.2;
      letter-spacing: $ls;
      color         : getcl('acnt');

      &--black {
          color: getcl('b')
      }
  }

  %title {
      @include mq(notDesktop) {
          margin-bottom: 30px;
      }

      @include mq(desktop) {
          margin-bottom: 50px;
      }

      line-height   : 1.17;
      text-align    : center;
      letter-spacing: $ls;
      font-weight   : $b;
      font-size     : getf('large');
      color         : getcl('title');
  }

  %button {
      padding         : 10px 32px;
      width           : 200px;
      height          : 50px;
      border-radius   : $radius;
      box-shadow      : $shadowbtn;
      border          : none;
      font-weight     : $b;
      line-height     : $btnLH;
      letter-spacing  : $ls2;
      color           : getcl('w');
      background-color: getcl('acnt');
  }