.clients {
    padding-top   : 94px;
    padding-bottom: 94px;
}
.clients__list {
    display: flex;
}
.clients__item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
    &:hover,
    &:focus {
        border: 1px solid getcl('acnt');
    }
}
.clients__link {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 170px;
    height         : 92px;
    border         : 1px solid getcl('gr');
    border-radius  : 4px;

    transition-property       : border;
    transition-duration       : 250ms;
    transition-timing-function: $cubic;
    
    &:hover .clients__icon,
    &:focus .clients__icon {
        fill: getcl('acnt');
    }
}
.clients__icon {
    fill                      : getcl('gr');
    transition-property       : fill;
    transition-duration       : 250ms;
    transition-timing-function: $cubic;
}