.team {
    background-color: getcl('bg_1');
    padding-top     : 94px;
    padding-bottom  : 94px;
    
}
.team__title {
    font-size  : getf('large');
    line-height: 1.19;
    text-align : center;
    
    &--small {
        margin-bottom : 10px;
        font-weight   : 500;
        font-size     : getf('medium');
        line-height   : 1.19;
        text-align    : center;
        letter-spacing: $ls;
        color         : getcl('title');
    }
}

.team__list {
    display        : flex;
    justify-content: center;
    margin-right   : auto;
    margin-left    : auto;
    padding-left   : 0px;
}

.team__item {
    margin-right: 30px;
    box-shadow  : 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 6px 6px;
    
    &:last-child {
        margin-right: 0;
    }
}


.team__overlay {
    padding-top     : 30px;
    padding-bottom  : 30px;
    background-color: getcl('w');
}


.team__text {
    text-align      : center;
    background-color: getcl('w');
    margin-bottom   : 16px;
}

.social {
    display        : flex;
    justify-content: center;
    padding-left   : 0;
    
}
.social__linkbox {
    margin-right: 10px;
    
    &:last-child {
        margin-right: 0;
    }
}


.social__link {
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 44px;
    height          : 44px;
    border-radius   : 50%;
    background-color: getcl('w');

    transition-property       : background-color;
    transition-duration       : 250ms;
    transition-timing-function: $cubic;
    &:hover,
    &:focus {
        background-color: getcl('acnt');
    }
    
    &:hover .social__icon,
    &:focus .social__icon {
        fill: getcl('w');
    }
}


.social__icon {
    fill                      : getcl('gr');
    transition-property       : fill;
    transition-duration       : 250ms;
    transition-timing-function: $cubic;
}